body {
    font-family:     Arial, sans-serif;
    color:           black;
}

#answer {
    padding-top:     30px;
    margin:          0;
    font-weight:     bold;
    font-size:       120pt;
    text-align:      center;
    text-decoration: none;
    text-transform:  uppercase;
}

span.flourish {
    background-image:  url(img/flourish.gif);
    background-repeat: no-repeat;
    display:    block;
    height:     40px;
    margin-left:47%;
    text-align: center;
}

/* Score */

#score, #reference {
    margin-left: 20%;
    width:       60%;
    text-align:  left;
}

h2 {
    margin:      10px 0
    padding:     0;
}

h2 span {
    float:     right;
}

h3 {
    font-size: 1em;
}

h5 {
    font-size: 0.8em;
}

/* References */

#reference ul {
    line-height:      1.2em;
    list-style-image: none;
}

li {
    font-size:     0.6em;
    margin-bottom: 0.1em;
}

span.citation, cite {
    font-style:    normal;
}

a {
    color:          #002BB8;
    text-decoration:none;
}

#updated {
    float:          right;
}

#updated span {
    font-size:      0.6em;
}
